.sidebar{
      background: rgb(37,42,48);
      color: #fff;
}

#component-menu{
  position:fixed;
  top:50px;
  bottom:0;
  width: 23%;
  overflow: auto;
}

#component-menu .pure-menu-link{
    color:#fff;
    /*margin-left:1.6em;*/
    font-size:15px;
    text-align: left;
}

#component-menu .pure-menu-heading{
  background: #1f8dd6;
  color:#fff;
  font-size:110%;
}
